
.seller-suggestion{
    margin-top: 20px;
   
   
}
.margincontainer{
    width: 260px;
    height : 80px;
    background-color: #88c2bb;
    border-radius: 10px;
    display: flex ;
    align-items: center;
    
    
  
}
.seller{
 margin-left: 70px;
}

.photographer{
    display: flex;
    
    margin-top: 30px;
}
.photographer>span{
    margin-left: 20px;
    color: #8D8D8D;
}
.photographer>span:hover{
    color: black;
    font-weight: 800;
}
.pht-containers{
    height: 126px;
    width: 244px;
    background-color: aquamarine;
    border-radius: 10px;
    display: flex;
}
.pht-containers{
   margin-top: 15px;
}
.userdata{
    display: flex;
    flex-direction: column;
    /* color: aliceblue; */
    
}
.cardimag{
    display: flex;
    margin-top: 30px;
    margin-left: 10px;

}
.smallimg{
    /* background-color: white; */
    height: 100px;
    width: 100px;
    margin-left: 10px;
    border: none;
}
.profile-outside{
    background-color: bisque;
    height: 60px;
    width: 60px;
    margin: 35px 0px 5px 20px;
}
.profilephoto{
    height: 85px;
    width: 85px;
    
  
}
.inside-card{
    display: flex;
    justify-content: space-between;
 
    
}
.userinfo-text{
    display: flex;
    flex-direction: column;
    margin: 70px 20px 10px 30px;
    color: white;
}
