.main-container{

    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 50px 0px 50px;
}
.left-Auth{
    flex: 0.5;
    text-align: center;
}
.right-Auth{
    flex: 0.5;
    text-align: center;
    
}
.left-Auth>img{
    width: 400px;
    margin-top: 60px;
    margin-bottom: 50px;
}
.dynamic-auth{
    width: 400px;
    border: 1px solid gainsboro;
   
   
    color: white;
    border-radius: 50px 10px 50px 10px; 
   padding: 10px;
    margin: 10px 0px 10px 22px;
}
.dybutton{
    padding: 5px 15px 5px 15px; 
    background-color: #0095f6;
    border: none;
    border-radius: 5px;
    color: aliceblue;
    margin-left: 20px;
}
/* @media screen (max-width:756px){
    
} */