
.search{
 margin:20px;
 background-color: white;
    height: 80px;
    width: 620px;
    border-radius: 10px;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
   
    
}
.in-search{
    background-color: white;
    height: 60px;
    width: 420px;
    border: none;
    margin: 8px 20px 5px 50px;
}
.searchicon{
   
    margin-top: 50px;
    margin-left: 10px;
}
.main-post{
   height: 550px;
   width: 620px;
   background-color: white;
   margin: 10px 20px 10px 20px;
   border-radius: 10px ;
}

.pepleposts{
    display: flex;
    flex-direction: row;
    margin: 0px 20px 20px 20px;
}
.avt{
 margin-top: 20px;
}
.nameofuser{
    display: flex;
    flex-direction: column;
    margin: 20px 0px 5px 10px;
  
}
.imgpost{
    width: 580px;
    margin: 10px 10px 0px 15px;
}
.text-content{
    margin: 0px 10px 0px 20px;
}
.moreicon{
    margin-left: 400px;
    margin-top: 20px;
}
.com-btn{
    margin: 10px;
}

.cmt-count{
    margin: 5px 10px 10px 5px;
}
.footer-section{
    margin-left: 5px;
   display: flex;
   align-items: center;
}
.main-post2{
    margin-top: 70px;
    background-color: white;
}
.loclight{
    color: #8D8D8D;
}